.post {
    max-width: 600px;
    margin: 10px 0;
    padding: 10px 20px;
    background: lightgrey;
}
.post-link {
    float: left;
}
.post-link a {
    text-decoration: none;
}
.post-date {
    float: right;
    text-align: right;
}
.post-text {
    clear: both;
}
